<% include ./partials/header %>
<h1>Search For a Movie</h1>


<form class="" action="/showMovies" method="GET">
  <input type="text" placeholder="Search Term" class="credits" name="search">
  <input type="submit" placeholder="submit">
</form>


<% include ./partials/footer %>
