/* header is main text on the page */
.header {
  margin-top: 250px;
  text-align: center;
}

/* centers the text on navbar */
.navbar-center {
  margin-left: 410px;
}


/* showMovies display */
#displayMovies img {
  width: 110%;
}

#displayMovies .col-md-3 {
  height: 520px;
}

#displayMovies .col-md-3 img {
  height: 400px;
}

#background {
  margin-top: 80px;
}


.caption li {
  list-style: none;
}

#title {
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
}
